// checkout
.checkout {
  &-process {
    @include checkout-process($light);
  }

  &-process-dark {
    @include checkout-process($primary);
  }

  &-circle {
    position: relative;

    width: $circle-lg;
    height: $circle-lg;
    border-radius: $border-radius;
    background-color: $primary;
    border: 1px solid $light;
    z-index: 1;

    // 調整內圓位置
    display: flex;
    justify-content: center;
    align-items: center;

    &.active {
      &:after {
        content: "";
        width: $circle-sm;
        height: $circle-sm;
        border-radius: $border-radius;

        background-color: $light;

        z-index: 2;
      }
    }
  }
}

// invoice
.invoice-btn {
  &:hover {
    color: $primary !important;
    background-color: $primary !important;
  }

  &.active {
    background-color: $light !important;
    color: $primary !important;
    box-shadow: none;

    &:hover {
      color: $primary !important;
    }
  }
}
