// checkout

$w100: 100%;
$border-radius: 50%;
$circle-lg: 20px;
$circle-sm: 14px;

.checkout-process {
  position: relative;
  width: $w100;

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    bottom: 0;
    right: 0;
    left: 0;

    width: $w100;
    height: 1px;
    background-color: $light;
  }

  .checkout-circle {
    position: relative;

    width: $circle-lg;
    height: $circle-lg;
    border-radius: $border-radius;
    background-color: $primary;
    border: 1px solid $light;
    z-index: 1;

    // 調整內圓位置
    display: flex;
    justify-content: center;
    align-items: center;

    &.active {
      &:after {
        content: "";
        width: $circle-sm;
        height: $circle-sm;
        border-radius: $border-radius;

        background-color: $light;

        z-index: 2;
      }
    }
  }

  .checkout-completed {
    background-color: $light;
    .material-icons {
      // 調整 icon 大小
      font-size: 1rem;
      border-radius: 50%;
    }
  }

  // checkout process dark
  &.checkout-process-dark {
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      bottom: 0;
      right: 0;
      left: 0;

      width: $w100;
      height: 1px;
      background-color: $primary;
    }

    .checkout-completed {
      background-color: $primary;
      .material-icons {
        // 調整 icon 大小
        font-size: 1rem;
        border-radius: 50%;
      }
    }
  }
}

// invoice
.invoice-btn {
  &:hover {
    color: $primary !important;
    background-color: $primary !important;
  }

  &.active {
    background-color: $light !important;
    color: $primary !important;
    box-shadow: none;

    &:hover {
      color: $primary !important;
    }
  }
}
