$max-height: 420px;
$margin-distance: -20px;

// header-img
.header-img {
  height: 496px;
  @include bg-cover;
}

// section-info
.section-info {
  .section-img-cover {
    // 圖片隨文字高度增長
    height: 100%;
    @include bg-cover;
    @include ipad() {
      height: 250px;
    }
  }

  .section-txt-img-top {
    margin-top: $margin-distance;
  }

  .section-info-image {
    // 圖片向外突出
    margin-top: $margin-distance;
    margin-bottom: $margin-distance;
    @include ipad() {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .section-info-content {
    max-height: $max-height;
  }

  .text-set {
    line-height: 2.5;
    @include text-vertical(vertical-rl);
    p {
      padding-right: 16px;
      @include ipad() {
        padding-right: 0px;
      }
    }
    @include ipad() {
      writing-mode: horizontal-tb;
      line-height: 2;
    }
  }
}

.section-txt-lg-img {
  width: 88px !important;
  @include ipad() {
    display: none;
  }
}

.section-txt-sm-img {
  display: none;
  height: 60px;
  @include ipad() {
    display: block;
    width: 100%;
  }
}