// checkout process bar
.checkout-process {
  & {
    @include checkout-process($light);
  }

  &-dark {
    @include checkout-process($primary);
  }
}

.checkout-circle {
  position: relative;

  width: $circle-lg;
  height: $circle-lg;
  border-radius: $border-radius;
  background-color: $primary;
  border: 1px solid $light;
  z-index: 1;

  // 調整內圓位置
  display: flex;
  justify-content: center;
  align-items: center;

  &.active {
    &:after {
      content: "";
      width: $circle-sm;
      height: $circle-sm;
      border-radius: $border-radius;

      background-color: $light;

      z-index: 2;
    }
  }
}
