// login
.link-account {
  margin-top: 20px;
  margin-bottom: 20px;

  @include ipad() {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  &-header {
    @include ipad() {
      display: none;
    }
  }

  &-item {
    margin-bottom: 16px;

    @include ipad() {
      border: 1px solid $light;
      margin-bottom: 0px;
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  &-btn {
    background-color: white;
    padding: 12px;

    &:hover {
      border: 1px solid $secondary;
      background-color: $gray-200;
    }

    &:focus {
      box-shadow: none;
    }
  } 
  

  // 固定 width 後，用 max-width 自適應
  &-img {
    max-width: 100%;
    height: auto;
  }
}
