// products
.header-img {
  position: relative;

  &-txt {
    width: 88px;
    position: absolute;

    top: 40px;
    right: 39.9px;
  }
}

.product-list {
  font-size: $font-size-lg;
  text-align: center;
}
