// icon color
.material-icons {
  color: $primary;
}

// text type
// ~ 指向有多值的屬性
select[class~="custom-select"],
input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="tel"] {
  height: 56px;
  background-color: $light;
  border: none;
  box-shadow: none;
  outline: none;

  &:focus {
    background-color: $light;
    box-shadow: none;
  }
}


// icon type
.input-icon {
  width: 64px;
  height: 56px;
  background-color: $light;
  border: none;
  cursor: default !important;
}
